.App {
  text-align: center;
}
*{
  margin: 0;
  box-sizing:border-box;
  padding: 0;

}
body{
  box-sizing: border-box;
  background-color: #eeeeee !important;
  margin: 0;
  padding: 0;
}

.login-container, .signup-container{
  width:32%; 
  margin: 5% auto;
  background-color: #2b4f81;
  padding:25px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.signup-container p{
  margin-top: 10px;
}

input[type=email], input[type=password], .name{
  width:100%;
  padding:10px;
  margin-top:20px;
  text-align: center;
  outline: none;
  border:1px solid #2b4f81;
  font-size: 1rem;
}
.signup, .login, .unauthorized{
  align-content: center;
  width: 95%;
  border-radius: 0%;
}
.unauthorized{
  display:none;
  color: red;
}
.log{
  text-decoration: underline;
  font-weight: 600;
}
/* input[type=checkbox]{
  margin-right:10px;
  width:20px;
  height:20px;
  font-weight: bold;
  cursor: pointer;
} */

/* input[type=checkbox]:hover{
  background-color: grey;
} */
.remember{
  font-size: 1rem;
}
.login-button, .signup-button{
  padding: 8px;
  text-align: center;
  width:30%; 
  font-size: 1rem;
  border: 1px solid #2b4f81;
  border-radius: 30px;
  align-self: center;
  font-weight: 800;
  color:#ffffff;
  background-color: #2b4f81;
  cursor: pointer;
  outline:none;
  margin: 10% 0 5% 0;
}
.signup-button{
  width:50%;
  padding: 10px;
}
/* home page */
.home-page{
  /* background-color: #eeeeee; */
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  
}
.navi{
  grid-column: 1/2;
  padding: 50px 20px 10px 20px;
  background-color: rgb(4, 13, 51);
  /* background-color: #2b4f81; */
  color: #ffffff;
 
}

.navi ul > li{
  cursor: pointer;
  list-style: none;
  margin-bottom: 25px;
}
.nav li i{
  margin-right:10px;
}
.graph{
  grid-column: 2/7;
  grid-template-columns: repeat(2,1fr );
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  
}
.graph div{
  height: 30vh;
  background-color: #ffffff
}

/* sub region */
.sub-region{
  display: grid;
  color:rgb(51, 71, 91);
  background-color: #f9f9f9;
  display: none;
  padding: 10px 0 5px 0;
}
.sub-region ul>li{
  padding: 10px 10px 10px 20px;
  margin-bottom: 10px;
  
}
.sub-region i{
  font-weight: 800;
  font-size: 1rem;
  margin-left:5px;
}
.sub-region li:hover{
  background-color: #f1f1f1 !important;
}
.sub-region button{
  padding:7px;
  cursor: pointer;
  width:80%;
  font-weight: bolder;
  color:rgb(51, 71, 91);
  border: 2px solid rgb(51, 71, 91);
  border-radius: 25px;
  outline: none;
  
}
 li:hover .sub-region{
  display: block;
}
 a{
   color: #ffffff !important;
   text-decoration: none !important;
 }
 .rest{
  grid-column: 2/7;
  display: flex;
  flex-direction: column;
  padding: 10px;
 /* align-items: center; */
 }

 th{
  /* background-color: #2b4f81; */
  padding: 10px;
  color: white;
  background-color: rgb(4, 13, 51);

}

table{
 table-layout: fixed;
 height: auto;
 width: 100%;
 border-collapse: collapse;
 background-color: whitesmoke;
 text-align:center;
 color: #2b4f81; 
}
td{
  width: 15%;
  overflow-wrap: break-word;
  padding: 10px 5px;
} 
.message{
  width: 50%;
  height: 10vh;
  background-color: #ffffff;
}

h1{
  align-self: flex-start;
  margin-bottom: 30px;
  color: rgb(4, 13, 51);
}
.back-btn, .add, .back{
  align-self: flex-start;
  /* width:10%; */
  height: 7vh;
  background-color: #2b4f81;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
}
.add{
  align-self: flex-end;
  margin-bottom: 10px;
  margin-right: 10px;
  /* padding: 10px; */
}
.back-btn{
  margin-left: 20px;
}
.edit-btn, .view-btn{
   /* width: 27%;  */
   /* height: 5vh;  */
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #2b4f81;
    /* background-color: rgb(4, 13, 51);  */
  border: none;
  outline: none;
  font-weight: 600;
  
}
/* add region form  */
.region-form{
  width: 35%;
  background-color: #ffffff;
  display: flex; 
  flex-direction: column;
   align-self: center;
  /* align-items: flex-start; */
  padding: 20px;
  color: #808080;
  margin-top: 20px;
  border-radius: 20px;
  
}
.addname{
  width: 100%;
  padding:10px;
  margin-top: 5px;
  margin-bottom:10px;
  text-align: center;
  outline: none;
  border:1px solid #2b4f81;
  font-size: 1rem;
}
.mail{
  border:1px solid #2b4f81 !important;
}
.form-submit{
 min-width:25%;
  height: 6vh;
  padding: 5px;
  align-self: center;
  border-radius: 5px;
  font-weight: 600;
  outline: none;
  border: 2px solid #2b4f81;
  color: #ffffff;
  background-color: #2b4f81;
  cursor: pointer;
  margin: 10px 0 10px 0;
}
hr{
  color: #2b4f81;
}

/* employee */
.employee-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.region-name{
  display: flex;
  width:100%;
  justify-content: space-between;
  margin-bottom: 20px;

  
}
.search-container{
  width: 65%;
  height: 7vh;
  border: 2px solid #2b4f81;
  display: flex;
  background-color: #ffffff;
  border-radius: 25px;
  margin-bottom: 40px;
  padding: 5px;
  align-self: center;
}

input[type=search]{
  width:95%;
  height: 5vh;
  padding: 10px 20px;
   border: none;
  outline: none;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
}
.icon{
  width: 5%;
  padding: 5px;
  /* background-color: #808080; */
  /* background-color: rgb(4, 13, 51); */
  color:  #2b4f81;
  cursor: pointer;
  text-align: center;
}
/* verification */
.verify-tag{
 display:flex;
 justify-content: space-between;
 margin-bottom: 30px;
}
.verify-table{
  width:100%;
  height: 30vh;
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 20px;
  flex-direction: column;
  display: flex;
}
.update{
  width: 10%;
 padding: 10px;
 align-self: center;
margin-top: 20px;
  border-radius: 25px;
  outline: none;
  background-color: #2b4f81;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #2b4f81;
  font-size: medium;
}
/* create employee */
.create{
  width: 70%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column; 
   align-self: center;
  /* align-items: flex-start; */
  padding: 20px;
  color: #808080;
  margin-top: 20px;
  border-radius: 20px;
  
}
.naming{
  display:flex;
  justify-content: space-between;
  
}
.mails{
  width:90%;
  
  margin-top: 5px !important;
}
 .mailgend div{
  width: 70%;
} 
.mailgend{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  
}
input[type=radio]{

  margin-left: 10px;
}
.radio{
  margin-left: 60px;
  display:flex;
}
label[for="male"], label[for="female"]{
  margin-left: 10px;
}

/* Guarantor form */
.update-form{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
}
.heading{
  height: 10vh;
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: space-around;
}
.heading ul{
  display: flex;
  font-size: large;
  padding: 10px;
  /* justify-content: space-around; */
}
.heading ul > li{
  cursor: pointer;
  list-style: none;
  /* padding:10px; */
  color: #2b4f81;
  font-weight: 700;
  margin: 0 10px 0 10px;

}
.heading a:hover{
  background-color: #2b4f81;
  color: #ffffff;
}
.guarantor-form{
  margin-top: 5px;
  padding: 10px;
  width: 100%;

}
.guarantor-name {
  display: flex;
  justify-content: space-between;
}
.guarantor-name div{
  width: 47%;
}
.guarantor-details{
  display:flex;
  justify-content: space-between;
}
.guarantor-details div{
  width: 47%;
}
.heading a{
  padding:10px;
    color:#2b4f81;
    text-decoration: none;

}

/* created employee update */
.nav{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.nav a{
  color: #2b4f81 !important;
 font-size: large !important;
  font-weight: 900 !important;
}
.eye{

font-size: larger;
font-weight: bolder;
}
/* card */
.card{
  width: 60%;
  background-color: #ffffff;
  display: flex !important ;
  flex-direction: column!important;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
  transition: 0.3s !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 0;
  padding: 20px 20px !important;
}
.content{
  display: flex !important;
  justify-content: space-between !important;
  align-content: center !important;
  padding: 5px !important;
  height: 7vh!important; 
}
.created{
  display: flex !important;
  width: 45%;
  padding: 5px !important;
  align-items: center !important;
  justify-content: flex-start !important;
  color: #2b4f81;
  text-align: center !important;
}
hr{
  margin: 5px 5px 0 0 !important;
}
.button-update{
  display: flex !important;
  width: 45%;
  color: #2b4f81;
  justify-content: flex-start !important;
  align-items: center !important;
  margin-top: 5px;
}
.button-update button{
  margin-right: 10px !important;
  border: 1px solid #2b4f81;
  color: #ffffff;
  background-color: #2b4f81;
  padding: 5px;
  outline: none;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  width: 40% !important;
}

/* .button-update button:first-child{
  width: 50%!important;
} */